//ID "weddint-wrapper" most outer background images(body background images of wedding site)
html,
body{
	height:100%;
	width:100%;
}
#weddint-wrapper{
	background: url(../../img/backgrounds/brqx_wedding_desktop_1920_2018.png);
	height:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
