.wedding-container{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
  margin-left:auto;

}
@media (min-width: 640px) {
  .wedding-container {
      max-width: 610px;
      height: inherit;
  }
}
@media (min-width: 750px) {
.wedding-container {
    max-width: 720px;
    height: inherit;
  }
}

@media (min-width: 800px) {
.wedding-container {
    max-width: 750px;
    height: inherit;
  }
}

@media (min-width: 1080px) {
.wedding-container {
    max-width: 1050px;
    height: inherit;
  }
}

@media (min-width: 1280px) {
.wedding-container {
    max-width: 1170px;
    height: inherit;
  }
}

@media (min-width: 1366px) {
.wedding-container {
    max-width: 1170px;
    height: inherit;
  }
}

@media (min-width: 1440px) {
.wedding-container {
    max-width: 1280px;
    height: inherit;
  }
}

@media (min-width: 1600px) {
.wedding-container {
    max-width: 1440px;
    height: inherit;
  }
}

@media (min-width: 1920px) {
.wedding-container {
    max-width: 1800px;
    height: inherit;
  }
}

@media (min-width: 2160px) {
.wedding-container {
    max-width: 2048px;
    height: inherit;
  }
}

@media (min-width: 2560px) {
.wedding-container {
    max-width: 2160px;
    height: inherit;
  }
}

@media (min-width: 2732px) {
.wedding-container {
    max-width: 2560px;
    height: inherit;
  }
}

@media (min-width: 3000px) {
.wedding-container {
    max-width: 2732px;
    height: inherit;
  }
}

@media (min-width: 3840px) {
.wedding-container {
    max-width: 3500px;
    height: inherit;
  }
}

@media (min-width: 4096px) {
.wedding-container {
    max-width: 3840px;
    height: inherit;
  }
}

@media (min-width: 5120px) {
.wedding-container {
    max-width: 4096px;
    height: inherit;
  }
}