section.lang-select-flag-combo {
    position: absolute;
    bottom: -30%;
    left: 50%;
    z-index: 5;
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    width: 100%;
    height: 35%;
    padding: 0px 120px;
}
.single-flag-images{
    position: relative;
}
section.single-flag-images span {}

section.single-flag-images span a img {
    width: 69px;
}
span.flag-combo-1{
    position: absolute;
    left:0;
    top: 0;
}
span.flag-combo-2{
    position: absolute;
    right: 0;
    top: 0;
}
span.flag-combo-3 {
    position: absolute;
    top: 50px;
    left: 50px;
}
span.flag-combo-4{
    position: absolute;
    top: 50px;
    right: 50px;
}
span.flag-combo-5{
    position: absolute;
    top: 90px;
    left: 108px;
}
span.flag-combo-6{
    position: absolute;
    top: 90px;
    right: 108px;
}
span.flag-combo-7{
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 200%);
    transform: translate(-50%, 200%);
}