section.lang-select-flag-combo {
    position: absolute;
    bottom: 0;
    left: 23%;
    z-index: 1;
    transform: translate(-50%, 0%);
}

section.single-flag-images span {}

section.single-flag-images span img {
    width: 69px;
}