.heart-wrapper{
    position: relative;
    padding: 0px 80px;
}
section.heart-bg {
    margin-right: auto;
    position: inherit;
    width: 700px;
    margin-left: auto;
}
section.heart-bg > img {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 25px;
}

// .wedding-menu-left::before {
//     position: absolute;
//     content: url(../../img/hearts/brqx_heart_pink_yellow_0800_2019.png);
//     width: 83px;
//     height: 58px;
//     top: -31px;
//     left: 50%;
//     -webkit-transform: translate(-50%, 18%);
//     transform: translate(-50%, 25%);
//     z-index: 11;
// }
// .wedding-menu-left:hover .wedding-menu-left::before{
//     z-index: -11;
// }