.heart-wrapper{
    position: relative;
}
section.heart-bg {
    margin-right: auto;
    position: inherit;
    width: 700px;
    margin-left: auto;
}
section.heart-bg img {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 25px;
}