.main-slude-text-container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px;
    padding: 77px;
}


.scroll-inner-container{
    position: relative;
}
.scroll-inner-container{
    height: -moz-calc(245px + 0px);
    height: -webkit-calc(245px + 0px);
    height: calc(245px + 0px);
    overflow: auto;
}
.social-image-area {
    background-color: #eaeaea;
    padding: 15px 15px 15px 15px;
    text-align: justify;
}
.social-image-area p{

}
.social-image-area img{
  padding-right: 15px;
  padding-bottom: 5px;
}

// for chorme hide scroll-bar
.scroll-inner-container::-webkit-scrollbar{
    display: none;
    position: absolute;
}

.social-image-area p:nth-child(odd) {
    color: #605E1A;
}

.social-image-area p:nth-child(even) {
    color: #581A7D;
}