
.search-bar-area{
    position: absolute;
    z-index: 10;
}
.search-bar-wrapper{

}
.form-group.wedding-form{
    margin-bottom: 0rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100% !important;
    height: 65px;
    position: relative;
}
input#wedding-search{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #DDD7CA;
    border: 0px;
    padding: 2px 20px 2px 5px;
}
.form-group.wedding-form span i {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #CEBFAC;
    cursor: pointer;
}