section.social-media-icon-left {
    position: absolute;
    z-index: 1;
}
section.social-media-icon-wrapper ul li a img {
    width: 100%;
}

section.social-media-icon-wrapper ul li {
    padding: 3px 0px;
}

section.social-media-icon-wrapper ul li a {
    height: 100%;
}
.social-media-icon-wrapper{}
.social-media-icon-wrapper ul{}
.social-media-icon-wrapper ul li{}
.social-media-icon-wrapper ul li a{}
.social-media-icon-wrapper ul li a img{}