.wedding-menu-right{
    position: absolute;
    right: 0;
    top: 0;
}
section.wedding-menu-right-icon {
    width: 150px;
    height: auto;
    position: absolute;
    top: -16%;
    right: 82%;
    -webkit-transform: translate(-60%);
    transform: translate(50%, 0%);
}

section.wedding-menu-right-icon a img {
    width: 100%;
    height: auto;
}

section.wedding-menu-right-wrapper {
    right: 0%;
    top: 50%;
    -webkit-transform: translate(-50%, 83%);
    transform: translate(-33%, 40%);
}

ul.main-menu-right {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
}

ul.main-menu-right li {
    display: inline-block;
    position: relative;
    background-image: url(img/tabs/brqx_tabs_no_selected_war_0100_2017.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
}

ul.main-menu-right li a {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    padding: 12px 12px;
    font-size: .75rem;
    text-decoration: none;
}