
#wedding{
    background-image: url(../../img/backgrounds/brqx_wedding_desktop_1920_2018.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* wedding headder area design */
#header-area{
    height: 15%;
}
/* MAIN LOGO LEFT-SIDE */
.logo-left{
    width: 50%;
    float: left;
    position: relative;
    z-index: 2;
    padding-left: 5%;
}
.logo-left img{
    width: 50%;
    height: auto;
    margin-top: 2%;
}
/* RIGHT SIDE LOGO AND OTHER FUNCTIONALITY ACCORDING TO DEVICES  */
.logo-right-and-other{
    position: relative;
    width: 50%;
    float: right;
    z-index: 2;
}
.desktop-logo{
    margin: 0% 0% 0% 70%;
}
.desktop-logo img{
    width: 70%;
    height: auto;
}
.heart{
    position: relative;
    /* z-index: 1; */
}
.heart{
    background-image: url(../../img/hearts/brqx_heart_pink_yellow_0800_2018.png);
    width: 80%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin: 0 auto;
    position: relative;
    max-height: 80%;
}

.rebone-top::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    background-color: #DFA960;
    top: 3%;
    left: 0;
    z-index: -1;
}

.rebone-bottom::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    background-color: #DFA960;
    bottom: 3%;
    left: 0;
    z-index: 1;
}

.rebone-left::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 94%;
    background-color: #DFA960;
    top: 3%;
    left: 0;
    z-index: 1;
}

.rebone-right::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 94%;
    background-color: #DFA960;
    top: 3%;
    right: 0;
    z-index: 1;
}
.rebone-top::after{
    position: absolute;
    content: url(../../img/ribbons/brqx_ribbon_double_0100_2018.png);
    width: 100px;
    height: 100px;
    background-color:transparent;
    top: 0%;
    left: -50px;
    z-index: 2;
}
.rebone-right::after{
    position: absolute;
    content: url(../../img/ribbons/brqx_ribbon_double_0100_2018.png);
    width: 100px;
    height: 100px;
    background-color:transparent;
    bottom: 0%;
    right: -50px;
    z-index: 1;
}

#wedding-heart-container{
    position: relative;
    height: inherit;
    width: 60%;
    margin: 0px auto;
    z-index: 2;
}


/* wedding main-menu area
---------------------------
*/
.wedding-menu-container{
    display: inline-block;
}
.wedding-menu-container{}
.wedding-menu-left-icon{
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 25%;
}
.wedding-menu-right-icon{
    position: absolute;
    top: 5%;
    right: 0%;
    transform: translate(-55%, -50%);
    width: 25%;
}
/* wedding left menu */
.wedding-menu-left{
    width: 36%;
    display: inline-block;
    position: absolute;
    left: 27%;
    transform: translate(-50%, -50%);
    top: 11%;
}
.menu-left{
    width: 100%;
}
.wedding-menu-left ul{
    overflow: hidden;
    float: left;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.wedding-menu-left > ul > li{
    display: inline-block;
    position: relative;
    background-image: url(../../img/tabs/brqx_tabs_no_selected_war_0100_2017.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
}

.wedding-menu-left ul li a{
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    padding: 12px 12px;
    font-size: .75rem;
    text-decoration: none;
}
.wedding-menu-left ul li:hover{
    background-image: url(../../img/tabs/brqx_tabs_selected_war_0100_2017.png);
}
/* wedding menu left sub-menu */
.wedding-sub-menu-container{
    display: inherit;
}
.ascerisk {}
.ascerisk button{
    border: 0px;
    background-color: transparent;
    padding: 0;
    outline: transparent;
    width: 70%;
}
.ascerisk button img{
    width: 100%;
}
.ascerisk-btn-left{
    position: absolute;
    top: 16%;
    left: 7%;
    transform: translate(-50%, -50%);
    display: flex;
}
.ascerisk-btn-right{
    position: absolute;
    top: 16%;
    right: 5%;
    transform: translate(50%, -50%);
    display: flex;
}


/* .wedding-left-sub-menu */
/* 
.wedding-left-sub-menu{
    width: 36%;
    position: absolute;
    background-color: #FD6448;
    top: 16%;
    left: 27%;
    transform: translate(-50%, -50%);
    display: flex;
}
.wedding-left-sub-menu span i{
    cursor: pointer;
    line-height: 28px;
    height: 100%;
}
.wedding-left-sub-menu ul{}
ul.left-sub-menu{
    width: 100%;
}
.wedding-left-sub-menu ul.left-sub-menu{
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: 0px;
    padding: 0px;
}
.wedding-left-sub-menu ul li{
    display: inline;
}
.wedding-left-sub-menu ul li a{
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: .75rem;
    text-decoration: none;


} */



/* wedding right menu */
.wedding-menu-right{
    position: absolute;
    right: 27%;
    transform: translate(50%, -50%);
    width: 36%;
    top: 11%;
}
.menu-right{
    width: 100%;
}
.wedding-menu-right ul{
    overflow: hidden;
    float: left;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.wedding-menu-right > ul > li{
    display: inline-block;
    position: relative;
    background-image: url(../../img/tabs/brqx_tabs_no_selected_war_0100_2017.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
}
.wedding-menu-right ul li a{
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    padding: 12px 12px;
    font-size: .75rem;
    text-decoration: none;
}
.wedding-menu-right ul li:hover{
    background-image: url(../../img/tabs/brqx_tabs_selected_war_0100_2017.png);
}


/* wedding menu right sub-menu */
/* .right-sub-menu{
    width: 100%;
}
.wedding-right-sub-menu{
    width: 36%;
    position: absolute;
    background-color: #FD6448;
    top: 16%;
    right: 27%;
    transform: translate(50%, -50%);
    display: flex;
}
.wedding-right-sub-menu span i{
    cursor: pointer;
    line-height: 28px;
    height: 100%;
}
.wedding-right-sub-menu ul{}
.wedding-right-sub-menu ul.right-sub-menu{
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: 0px;
    padding: 0px;
}
.wedding-right-sub-menu ul li{
    display: inline;
}
.wedding-right-sub-menu ul li a{
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: .75rem;
    text-decoration: none;
} */





/* 
--------------------------------------------------------------------
left social-icon area START 
--------------------------------------------------------------------
*/

.social-media-icon-left {
    position: absolute;
    top: 33%;
    left: 7%;
    transform: translate(-50%, -50%);
}

.social-media-icon-wrapper {}
.social-media-icon-wrapper ul{}
.social-media-icon-wrapper ul li{
    width: 70%;
    padding: 3px;
}
.social-media-icon-wrapper ul li a{}
.social-media-icon-wrapper ul li a img{
    width: 100%;
}





/* 
--------------------------------------------------------------------
left social-icon area END 
--------------------------------------------------------------------
*/


/*
----------------------------------------
main-container right side menu START
----------------------------------------
*/ 

section.right-side-menu-wrapper {
    transform: rotate(90deg);
}
section.right-side-menu {
    position: absolute;
    top: 36%;
    right: 0%;
    transform: translate(24%, -50%);
    z-index: 1;
}
section.right-side-menu-wrapper ul li {
    display: inline;
    margin: -2px;
}
section.right-side-menu-wrapper ul li.current a{
    background-color: #825374;
    color: #fff;
}
section.right-side-menu-wrapper ul li a {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9rem;
    cursor: pointer;
    outline: none;
}



/*
----------------------------------------
main-container right side menu END
----------------------------------------
*/





/* 
--------------------------------------------------------------------
main conainer pages START
--------------------------------------------------------------------
*/




.main-slide-text-container {

}

.scroll-outer-container{
    height: 43%;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.scroll-inner-container {
    position: relative;
    overflow: auto;
    height: -moz-calc(95% + 0%);
    height: -webkit-calc(95% + 0%);
    height: calc(95% + 0%);
    margin: 0 auto;
    width: 83%;
}
.main-slide-text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px;
    padding: 77px;
    
}
.social-image-area {
    background-color: #eaeaea;
    padding: 15px 15px 15px 15px;
    text-align: justify;
}
.social-image-area p{

}

.social-image-area img{
  padding-right: 15px;
  padding-bottom: 5px;
}

/* // for chorme hide scroll-bar */
.scroll-inner-container::-webkit-scrollbar{
    display: none;
    position: absolute;
}

.social-image-area p:nth-child(odd) {
    color: #605E1A;
}

.social-image-area p:nth-child(even) {
    color: #581A7D;
}

.tab-content{
    display: none;
    -webkit-animation: fadeEffect 1s;
    -moz-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.tab-content.current{
    display: inherit;
    
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}




/* 
-------------------------------------------
main conainer pages END  
-------------------------------------------
*/




/*
-----------------------------------------------
bottom search bar area START
-----------------------------------------------
*/
.search-bar-area{
    position: absolute;
    width: 40%;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.search-bar-wrapper{
    background-image: url(../../img/hearts/brqx_search_heart_blue_0200_2018.png);
    margin-bottom: 0;
    position: relative;
    height: 4rem;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100% !important;
}
.form-group.wedding-form{
    margin-bottom: 0;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 75%; */

}

input#wedding-search {
    position: relative;
    /* top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    background-color: #DDD7CA;
    border: 0px;
    padding: 2px 20px 2px 5px;
}
.wedding-form span i.fa-search{
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
}

/*
-----------------------------------------------
bottom search bar area END 
-----------------------------------------------
*/



/*
--------------------------------------
language select flag combo START
---------------------------------------
*/
section.lang-select-flag-combo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 79%;
    height: 30%;
}
.lang-select-flag-combo-wrapper{
    width: 70%;
    margin: 0 auto;
}
.single-flag-images{

}
.single-flag-images span{

}
.single-flag-images span a img{
    /* width: 20%; */
}
.single-flag-images span.flag-combo-1 a img{
    top: 9%;
    position: absolute;
    width: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-2 a img{
    top: 40%;
    position: absolute;
    width: 10%;
    left: 26%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-3 a img{
    top: 68%;
    position: absolute;
    width: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-4 a img{
    top: 80%;
    position: absolute;
    width: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-5 a img{
    top: 68%;
    position: absolute;
    width: 10%;
    right: 25%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-6 a img{
    top: 40%;
    position: absolute;
    width: 10%;
    right: 16%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-7 a img{
    top: 9%;
    position: absolute;
    width: 10%;
    right: 10%;
    transform: translate(-50%, -50%);
    
}
.single-flag-images span.flag-combo-8 a img{

    
}
.single-flag-images span.flag-combo-9 a img{
   
    
}
.single-flag-images span.flag-combo-1{}
.single-flag-images span.flag-combo-1{}
.single-flag-images span.flag-combo-1{}
.single-flag-images span.flag-combo-1{}
/*
-------------------------------------
language select flag combo END 
-------------------------------------
/*